/* FONT */

@font-face {
    font-family: 'RalewayMedium';
    src: local('Raleway Medium'),
        url('fonts/Raleway/Raleway-Medium.woff2') format('woff2'),
        url('fonts/Raleway/Raleway-Medium.woff') format('woff'),
        url('fonts/Raleway/Raleway-Medium.ttf') format('truetype'),
        url('fonts/Raleway/Raleway-Medium.eot') format('eot');
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway Regular'),
        url('fonts/Raleway/Raleway-Regular.woff2') format('woff2'),
        url('fonts/Raleway/Raleway-Regular.woff') format('woff'),
        url('fonts/Raleway/Raleway-Regular.ttf') format('truetype'),
        url('fonts/Raleway/Raleway-Regular.eot') format('eot');
}

/*  GENERAL PROPERTIES */

body{
    font-family: 'RalewayMedium', sans-serif;
    display: grid;
    grid-template-areas: 
    "header"
    "search"
    "popular"
    "hosting"
    "activity"
    "footer";
    grid-template-rows: auto;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style-type: none;
}

/* HEADER */

header{
    grid-area: header;
    display: grid;
    grid-template-areas: 
    "logo signup"
    "nav nav";
    grid-template-columns: repeat(2, 1fr);
    font-size: 14px;
}

h1{
    grid-area: logo;
    margin: 20px;
}

#headerMenu{
    grid-area: nav;
    margin-top: 20px;
}

#headerMenu ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40px;
    margin: 0;
    padding: 0;
}

#headerMenu li{
    border-bottom: 2px whitesmoke solid;
    display: grid;
    text-align: center;
}

#headerMenu li a{
    display: block;
}

#headerMenu li:hover{
    border-bottom: 2px #0065FC solid;
}

#headerMenu li:hover > a{
    color: #0065FC;
    font-weight: bold;
}

#headerSignup{
    grid-area: signup;
    place-self: center end;
    margin-right: 20px;
    color: #0065FC;
    font-weight: bold;
    padding: 10px;
    transition: .1s;
    border-radius: 12px;
}

#headerSignup:hover{
    background-color: #0065FC;
    color: white;
}

/* SEARCH */
/* FORMULAIRE */

#search{
    grid-area: search;
    padding: 20px;
    font-size: .8em;
}

#searchForm{
    display: inline-flex;
    align-items: stretch;
    border: 1px #F2F2F2 solid;
    border-radius: 10px;
}

#searchLabel, #searchCity, #searchSubmit {
    box-sizing: border-box;
    padding: 10px;
    border: none;
    font-weight: bold;
    font-family: 'RalewayMedium', sans-serif;
}

#searchLabel{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    min-width: 40px;
    text-align: center;
    background-color: #F2F2F2;
}

#searchCity:focus{
    outline: none;
}

#searchSubmit{
    border-radius: 10px;
    background-color: #0065FC;
    color: white;
    min-width: 40px ;
}

#searchSubmit:hover{
    color: #0065FC;
    background-color: #F2F2F2;
}

#searchSubmit:active{
    color: #0065FC;
    background-color: white;
}

.searchBtn-xl{
    margin: 0 5px;
    display: none;
}

/* SEARCH */
/* FILTERS */

#searchFilter{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

#searchFilter h3{
    margin-right: 15px;
}

#searchFilterList{
    display: flex;
    flex-flow: row wrap;
    padding-left: 0;
    margin: 0;
}

.searchFilterItem{
    border-radius: 25px;
    font-weight: bold;
    border: 2px #F2F2F2 solid;
    margin: 5px;
    transition: .4s;
}

.searchFilterItem a {
    display: block;
}

.searchFilterItem:hover{
    background-color: #DEEBFF;
    border-color: #0065FC;
    transform: scale(1.05);
}

.searchFilterItem:hover > a{
    color: #0065FC;
}

.searchFilterItem i{
    border-radius: 50%;
    background-color: #DEEBFF;
    color: #0065FC;
}

.fa-money-bill-wave{
    padding: .8em .675em .8em;
}

.fa-child{
    padding: .8em .92em .8em;
}

.fa-heart{
    padding: .8em;
}

.fa-dog{
    padding: .8em .737em .8em;
}

.searchFilterText{
    padding: 0 10px;
}

.fa-info{
    border-radius: 50% !important;
    padding: .4em .7em .4em !important;
    color: #0065FC;
}

/* MAIN - HOSTING & POPULAR & ACTIVITY */
/* SIMILAR PROPERTIES */

#hosting, #popular, #activity{
    font-size: .7em;
    padding: 20px;
}

#hostingContainer, #popularContainer, #activityContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hostingItem, .popularItem, .activityItem{
    margin: 5px;
    transition: .15s;
}

.hostingItem:hover, .popularItem:hover, .activityItem:hover{
    transform: scale(1.04);
}

.hostingItem figure, .popularItem figure, .activityItem figure{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 1.4em;
    box-shadow: 4px 6px 8px -6px grey;
    padding: 4px;
    margin: 0;
}

.hostingItem figcaption, .popularItem figcaption{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.starActive {
    color: #0065FC;
}

.starUnactive{
    color: #DEEBFF;
}

/* HOSTING */

#hosting{
    grid-area: hosting;
}

.hostingItem figure{
    flex-direction: column;
    max-width: 320px;
}

.hostingItem img {
    object-fit: cover;
    height: 100px;
    width: 300px;
    border-radius: 1.4em 1.4em 0 0;
}

.hostingItem figcaption{
    padding: 0 20px;
    margin: 0;
}

.hostingItem figcaption h3, .hostingItem figcaption p{
    margin: 2px 0;
}

#hostingMore{
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
}

/* POPULAR */

#popular{
    grid-area: popular;
    background-color: #F2F2F2;
}

#popular h2{
    display: flex;
    justify-content: space-between;
}

.popularItem figure{
    flex-direction: row;
    max-width: 300px;
}

.popularItem img{
    object-fit: cover;
    width: 120px;
    height: 140px;
    border-radius: 1.4em 0 0 1.4em;
}

.popularItem figcaption{
    margin-left: 20px;
    width: 150px;
}

/* ACTIVITY */

#activity{
    grid-area: activity;
}

.activityItem figure{
    flex-flow: column nowrap;
    max-width: 350px;
    padding: 0;
}

.activityItem img {
    object-fit: cover;
    height: 120px;
    width: 320px;
    border-radius: 1.4em 1.4em 0 0;
}

.activityItem figcaption{
    padding: 5px 20px;
    font-weight: bold;
    font-size: 1.2em;
}

/* FOOTER */

footer{
    grid-area: footer;
    display: grid;
    background-color: #F2F2F2;
    font-size: 0.9em;
    justify-content: center;
}

footer nav{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

footer nav a{
    margin-bottom: 10px;
}


/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {
    body{
        grid-template-areas: 
        "header header"
        "search search"
        "popular popular"
        "hosting activity"
        "footer footer";
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    /* HEADER */

    header{
        grid-template-areas: 
        "logo nav signup";
        grid-template-columns: 200px 1fr 120px;
    }

    #headerMenu{
        display: grid;
        grid-template-areas: 
        ". navTab";
        grid-template-columns: 1fr 1fr;
        margin-top: 0;
    }

    #headerMenu ul{
        grid-area: navTab;
        grid-template-rows: 1fr;
    }

    #headerMenu li{
        border-bottom: none; 
        border-top: 2px transparent solid;
        align-items: center;
    }

    #headerMenu a{
        padding: 40px 0;
    }
    
    #headerMenu li:hover{
        border-bottom: none;
        border-top: 2px #0065FC solid;
    }

    .searchBtn-xl{
        display: inline;
    }

    /* HOSTING */

    #hosting{
        background-color: #F2F2F2;
        border-radius: 1.4em;
        margin-left: 20px;
    }

    /* POPULAR */

    #popular{
        border-radius: 1.4em;
        margin: 0 20px;
    }

    #popularContainer{
        flex-flow: row wrap;
        justify-content: space-around;
    }

    /* ACTIVITY */

    #activity{
        background-color: #F2F2F2;
        border-radius: 1.4em;
        margin-right: 20px;
    }

    /* FOOTER */

    footer{
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}

@media only screen and (min-width: 992px) {

    body{
        grid-template-areas: 
        "header header"
        "search search"
        "hosting popular"
        "activity activity"
        "footer footer";
        grid-template-columns: 2fr 1fr;
    }

    /* HEADER */

    #headerMenu{
        grid-template-columns: 60% 1fr;
    }

    /* HOSTING */

    #hostingContainer{
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .hostingItem{
        margin: 5px 4px;
    }

    .hostingItem figure{
        max-width: 250px;
    }
    
    .hostingItem img{
        width: 250px;
        height: 120px;
    }

    /* POPULAR */

    #popular{
        margin-right: 20px;
    }

    #popularContainer{
        flex-flow: column nowrap;
    }

    /* ACTIVITY */

    #activity{
        background-color: transparent;
        border-radius: 0;
        margin-right: 0;
    }

    #activityContainer{
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .activityItem figure{
        width: 260px;
    }

    .activityItem img{
        width: 260px;
    }

}

@media only screen and (min-width: 1200px) {
    body{
        grid-template-columns: 800px 400px;
        justify-content: center;
    }

    /* HOSTING */

    #hostingContainer{
        justify-content: space-between;
    }

    .hostingItem figure{
        max-width: 220px;
    }
    
    .hostingItem img{
        width: 220px;
    }

    /* ACTIVITY */

    #activityContainer{
        flex-flow: column wrap;
        max-height: 340px;
    }

    .bigActivity{
        height: 304px;
    }

    .bigActivity img{
        height: 100%;
    }

    /* FOOTER */

    footer{
        border-top-left-radius: .7em;
        border-top-right-radius: .7em;
    }
}